<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>basics.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TimeServlet</display-name>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>basics.TimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableServlet</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>basics.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/TableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>basics.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CounterServlet</display-name>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>basics.CounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/CounterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MIMETypeServlet</display-name>
    <servlet-name>MIMETypeServlet</servlet-name>
    <servlet-class>basics.MIMETypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIMETypeServlet</servlet-name>
    <url-pattern>/MIMETypeServlet</url-pattern>
  </servlet-mapping>
</web-app>