<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>login_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Reg1Servlet</display-name>
    <servlet-name>Reg1Servlet</servlet-name>
    <servlet-class>login.Reg1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg1Servlet</servlet-name>
    <url-pattern>/Reg1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1Servlet</display-name>
    <servlet-name>Login1Servlet</servlet-name>
    <servlet-class>login.Login1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1Servlet</servlet-name>
    <url-pattern>/Login1Servlet</url-pattern>
  </servlet-mapping>
</web-app>